div {
    text-align: center;
}

.jumbotron, .cardOne, .cardTwo, .cardThree {
    margin-top: 10%;
}

.gameOver, .highscores {
    margin: auto;
    margin-top: 10%;
}

.time {
    text-align: right;
    font-weight: bold;
}

.vHighscores {
    position: fixed;
    top: 0;
    left: 0;
    text-align: left;
    font-weight: bold;
}

